var.env                   # Tu archivo de variables de entorno (var.env, no vars.env)
*.tar.gz                  
model_proxy.tar.gz        

__pycache__/             
.ipynb_checkpoints/    
.DS_Store                 

model_deploy_proxy/      
chroma_db_local/    

# Carpetas de Datos Generadas
Back_End/Data/Clean_Text/